.cache
*.elc
.emacs.desktop*
.lsp-eslint-choices
.lsp-session*
.org-id-locations
.projectile.cache
anything-c-adaptive-history
eln-cache
elpa*
emojis
games
multisession/
projectile-bookmarks.eld
recentf
tmp
tramp
transient/history.el
tree-sitter
url
var/pcache
local
.local
autosave
backup
bookmarks
eshell
ido.last
*~
init_backup.el
nov-places
projects
straight/